package com.weedmaps.dataaccess.entity;

#foreach( $import in $type.sanitizedImports)
import ${import};
#end

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

import com.fasterxml.jackson.annotation.JsonProperty;
import com.weedmaps.dataaccess.AbstractEntity;

@Data
@NoArgsConstructor
@EqualsAndHashCode(callSuper = true)
public class $type.name extends AbstractEntity {

    private static final long serialVersionUID = 1L;
#foreach( $field in $type.fields)

    @JsonProperty("$field.absoluteName")
    private $field.type $field.name;
#end

    public static String getEntityName() {
        return "$type.entity";
    }

}